/*Imported google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

/*Astericks wildcard selector to overide defalt styles by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", sans-serif;
}


/*Gerneral Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*project styles*/
    font-family: "Roboto Mono", sans-serif;
    background-color: black;
}

/*Header*/
header {
    background-color: #035349a1;
    color: #f6f7f2;
    font-size: 20px;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px #272b54;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#logo {
    font-size: 6vw;

}

header a {
    text-decoration: none;
    color: inherit;
}

h3 {
    font-family: "Roboto Mono", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

/* Dialog Styles */
dialog {
    position: absolute;
    inset-inline-start: 0px;
    inset-inline-end: 0px;
    width: fit-content;
    height: fit-content;
    background-color: canvas;
    color: canvastext;
    margin: auto;
    border-width: initial;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    padding: 1em;
}
button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Memory game styles */
.board {
    margin-top: 25vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 15vw;
    margin-left: 15vw;

}

.board img {

    width: 8vw;
    height: 8vw;
    margin: 1em auto;
}

/* TIMER */

.timer {
    font-size: 80px;
}

/* Button styles */

.btn-base {
    box-shadow: 3px 4px 0px 0px #0a2f52;
    background: linear-gradient(to bottom, #33506d 5%, #2468ac 100%);
    background-color: #33506d;
    border-radius: 5px;
    border: 1px solid #33506d;
    display: inline-block;
    cursor: pointer;
    color: #f6f7f2;
    font-family: "Roboto Mono", sans-serif;
    font-size: 17px;
    font-weight: bold;
    padding: 12px 44px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2468ac;
}

.btn-base:hover {
    background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    background-color: #378de5;
}

.btn-base:active {
    position: relative;
    top: 1px;
}

/*footer contact social media*/
footer {
    background-color: #035349a1;
    color: #f6f7f2;
    margin-top: auto;
}

.social {
    color: #f6f7f2;
}

#online-community {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#online-community i {
    font-size: 155%;
    padding: 6%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*  Tablets and up */
@media screen and (min-width: 768px) {

    /* Hide Scrollbar*/
    html::-webkit-scrollbar {
        display: none;
    }

    #logo {
        font-size: 3vw;
    }
}

/*laptops and up*/
@media screen and (min-width: 992px) {


    /* Memory game styles */
    .board {
        margin-top: 14vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .board img {

        width: 8vw;
        height: 8vw;
        margin: 1em auto;
    }
    .timer {
        font-size: 4vw;
    }
    .btn-base {
        box-shadow: 3px 4px 0px 0px #0a2f52;
        background: linear-gradient(to bottom, #33506d 5%, #2468ac 100%);
        background-color: #33506d;
        border-radius: 5px;
        border: 1px solid #33506d;
        display: inline-block;
        cursor: pointer;
        color: #f6f7f2;
        font-family: "Roboto Mono", sans-serif;
        font-size: 1em;
        font-weight: bold;
        padding: .4em .90em;
        text-decoration: none;
        text-shadow: 0px 1px 0px #2468ac;
    }
}

/*  disable images (to avoid more than 2 being clicked at a time)*/
.disable {
    pointer-events: none;
}